URxvt.perl-ext-common: matcher,readline
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

URxvt.font: xft:Fira Mono:size=9:antialias=true
URxvt.letterSpace: -1

URxvt*background: black
URxvt*foreground: white
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt*color0: #6c6c6c
URxvt*color1: #e9897c
URxvt*color2: #b6e77d
URxvt*color3: #ecebbe
URxvt*color4: #a9cdeb
URxvt*color5: #ea96eb
URxvt*color6: #c9caec
URxvt*color7: #f2f2f2
URxvt*color8:    #747474
URxvt*color9:    #f99286
URxvt*color10:    #c3f786
URxvt*color11:    #fcfbcc
URxvt*color12:    #b6defb
URxvt*color13:    #fba1fb
URxvt*color14:    #d7d9fc
URxvt*color15:    #e2e2e2

URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*borderLess: false
