! These colours are solely being used by Polybar, and are named
! after its default colour variables. The colours themselves are
! taken from the nord palette:
! https://www.nordtheme.com/
*.background:       #3B4252
*.background-alt:   #4C566A
*.foreground:       #E5E9F0 
*.foreground-alt:   #ECEFF4
*.primary:          #88C0D0
*.secondary:        #D08770
*.alert:            #BF616A
